.review-post {
  br { margin:0px 0px 12px 0px; }
  h2, h3, h4 {
   color: #757EFF;
   border-bottom: 1px solid #000;
   padding-bottom: 0.1em !important;
  }
  h2 {
   font-size: 1.5em;
  }
  h3 {
   font-size: 1.2em;
  }
  h4 {
   font-size: 1.1em;
  }
  div.caption {
   text-align: center;
   margin-bottom: 1em !important;
  }
  ul li {
   padding: 0px !important;
  }
  div.footnote ~ h2 {
   margin-top: 1em;
  }
  div.footnote ~ h3 {
   margin-top: 1em !important;
  }
  div.footnote ~ h4 {
   margin-top: 1em;
  }
  a.noteref {
   vertical-align: super;
  }
}

pre.list { background-color: #def; border: 2px dotted; padding: 4px; }
